<% content_for :title, "Editing personaje" %>

<h1>Editing personaje</h1>

<%= render "form", personaje: @personaje %>

<br>

<div id="newPj" class="btn btn-primary">
  <%= link_to "Show this personaje", @personaje %> 
</div>
