<p style="color: green"><%= notice %></p>

<% content_for :title, "Personajes" %>

<h1>Personajes</h1>

<div id="pjs">
  <div id="personajes">
    <% @personajes.each do |personaje| %>
      <%= render personaje %>
    <% end %>
  </div>
</div>


<%= link_to "New personaje", new_personaje_path %>
