<p style="color: green"><%= notice %></p>

<%= render @personaje %>

<div>
  <%= link_to "Edit this personaje", edit_personaje_path(@personaje) %> |

  <%= button_to "Destroy this personaje", @personaje, method: :delete %>
</div>
