<% content_for :title, "Editing anime" %>

<h1>Editing anime</h1>

<%= render "form", anime: @anime %>

<br>

<div id="newPj" class="btn btn-primary">
  <%= link_to "Show this anime", @anime %> 
</div>
