<p style="color: green"><%= notice %></p>

<%= render @anime %>

<div>
  <p id="newPj" class="btn btn-primary">
    <%= link_to "Edit this anime", edit_anime_path(@anime) %> 
  </p>
  <p id="newPj" class="btn btn-danger">
    <%= button_to "Destroy this anime", @anime, method: :delete %>
  </p>
  
</div>
