#portada{
    width: 200px;
    height: 270px;
    overflow: hidden;
    border-radius: 18px;
    transition: width 0.30s;
    position: relative;
}

#portada #sec{
    align-items: flex-start;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    color: white;
    overflow: visible;
    z-index: 1;

    /* a */
    position: absolute;
    left: 205px;
    display: flex;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
}

#sec p {
    margin-top: 5px;
    margin-left: 5px;
}

#portada #fondo{
    filter: blur(6px);
    width: 270px;
    height: 300px;
    z-index: 0;
}

#img1{
    width: 267px;
    height: 300px;
}

#portada:hover{
    width: 370px;
}

#btnExtra{
    display: flex;
    font-size: 7px;
    height: 70px;
    width: 150px;
    margin-left: 5px;
    background-color: #ceeaf785;
    border: none;
    border-radius: 18px;
}

#btnExtra a{
    color: white;
    
}


#animes{
    display: flex;
    /* justify-content: space-around; */
    flex-flow: row wrap;
}

#newAn{
    margin-top: 50px;
    margin-left: 50px;
}

#newAn a{
    color: white;
    text-decoration: none;
}


 
#sec{
display: flex;
flex-direction: column;
}



#portada{
margin-top: 50px;
margin-left: 50px;
}