 nav{
    border: solid 1px;
    width: 99.9%;
    height: 70px;
 }

 div{
   display: flex;
   flex-direction: row;
 }

 aside{
    border: solid 1px;
    height: 609px;
    width: 200px;
 }
 section{
   border: solid 1px;
   width: 89.5%;
   height: 609px;
   overflow: scroll;
 }
 