/* img{
    border-radius: 18px;
 }

 #persons{
    position: relative;
    margin-top: 30px;
    border: 2px solid rgb(26, 26, 26);
    width: 300px;
    background-color: #3e3e3e;
    border-radius: 18px;
    color: #f9f9f9;
 }

 #persons img{
    position: absolute;
    left: 150px;
    top: 2px;
 }

 #data{
    display: grid;
 }
 .grid{
    gap: 10px;
 } */

 a{
   color: white;
   text-decoration: none;
 }